default_resolution: "360"
allowed_youtube_usernames: ['username1', 'username2']
allowed_youtube_user_ids: [123456, 123456]
allowed_youtube_chat_ids: [-123456]
allowed_insta_usernames: ['username1', 'username2']
allowed_insta_user_ids: [123456, 123456]
allowed_insta_chat_ids: [-123456]
allowed_gifying_usernames: ['username1']
allowed_clip_user_ids: [123456798]
allowed_clip_chat_ids: [-123456]
session: 'telegram_session'
api_id: 12345679
api_hash: 'your_api_hash'
bot_token: 'your_token' # null
proxy: # null
  proxy_type: "http"
  addr: "172.17.0.1"
  port: "20801"
log_level: "quiet"
max_video_length: 3600
cookiefile: null
instagram_session_id: "your_session_id"
ip_address: null

