telethon==1.38.1
ffmpeg-python==0.2.0
pyyaml==6.0.2
python-socks[asyncio]==2.5.3
instagrapi==2.1.3
pillow==11.0.0
yt-dlp @ git+https://github.com/Ali-Flt/yt-dlp.git@822c4a439a3999ee606bec38519ba435fcdd7af1
# For STT:
transformers==4.47.0
accelerate==1.2.0
# sentencepiece==0.2.0
# sacremoses==0.1.1
googletrans-modified==1.1.1

